/* Default case: Mobile screens (Extra Small Screen Sizes) */
#menu {
    position: fixed;
    width: 300px;
    height:100vh  ;    /* 100vh */
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    z-index: 10;
    border-right: 1px solid #ffffff;
    overflow-y:auto;
    overflow-x: hidden;
    line-height: 1.6;
}

#menu-logo-container {
    position:relative;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

#logo {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

#logo-letter {
    position: absolute;
    top: 5pxs;   
    transform: translate(0%, -45%);                  
    left: 0;
    right: 0;
    font-size: 7rem;
    text-align: center;
    opacity: 0.25;
    font-family: "Montserrat", Helvetica, sans-serif;
}

#scrollspy-container {
    position: fixed;
    top: 25px;
    right: 30px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: 1px solid #ffffff;
}
#scrollspy-button {
    min-height: 50px;
    min-width: 50px;
    border-radius: 5px;    
}

#mobile-logo {
    position: fixed;
    top: 25px;
    left: 30px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    z-index: 10;
    padding: 0 15px;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.5;
}

#home-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

#home {
    z-index: 3;                              
    position: absolute;
    top: 50%;
    left: 50%;                                   
    transform: translate(-50%, -50%);
}

#home-letter {
    position: absolute;
    font-size: 10rem;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0.15;
    z-index: 4;
}

#home-avatar-and-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 300px;
}

#home-avatar {
    position: static;
    width: 80px;
    z-index: 4;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#name {
    position: static;
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-size: large;
    z-index: 11;
}

#tagline {
    position: static;
    font-family: "Montserrat", Helvetica, sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: small;
    z-index: 11;
}

#site-outer-container {
    position: relative;
    top: 75vw;                          /* Start site content below the jumbotron */
    line-height: 1.6;
}

#site-container {
    position: relative;
    width: auto;
    margin-left: 0px;                   /* Menu is not showing so take full width of page */    
    background-color: #ffffff;
    z-index: 9;
    padding-top: 0px;
    margin-top: 0px;
    overflow-x: hidden;
}

#summary-img {
    margin-top: 20px;
}

#summary-header {
    margin-top: 20px;
}