.quiz-question {
    margin-bottom: 1.5rem;
    /*background: #ccd7de; */
    background: linear-gradient(135deg, #edc68c 0%, #e7c591 60%);
    border-radius: 0.4rem;
    padding: 1rem 1.2rem;
    box-shadow: 0 1px 4px rgba(25, 118, 210, 0.07);
}

.quiz-question strong {
    display: inline-block;
    margin-top: 0.5rem;
    color: #388e3c;
    background: #e8f5e9; 
    padding: 0.2rem 0.7rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}


